@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  margin: 10px 24px;
}

header {
  margin-bottom: 60px;
}

.cb {
  border: 1px solid red;
}

.header__block {
  height: 80px;
  box-shadow: 0 1px 0 rgba(204, 204, 204, 0.25);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__block-left {
  display: flex;
  align-items: center;
}

.header__block-left > img {
  width: 35px;
  height: 41px;
}

.header__block-left > span {
  margin-left: 10px;
  width: 236px;
  height: 39px;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
}

.header__block-right {
  height: 24px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.main-bord {
  display: flex;
  justify-content: space-between;
}

.main-bord__block-left {
  width: 69%;
}

.main-bord__block-left__block {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.main-bord__block-left-sort {
  display: flex;
  align-items: center;
}

.main-bord__block-left-sort > button {
  border: none;
  outline: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.main-bord__block-left-sort > img {
  width: 20px;
}

.main-bord__block-left__block > select {
  margin-left: 20px;
  border: none;
  outline: none;
  min-width: 100px;
  max-width: 180px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.main-bord__block-right {
  width: 30%;
}

.search-block {
  display: flex;
}

.search-block > input {
  width: 190px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;

  margin: 7px 0 8px 0;
}

.search-block > img {
  width: 30px;
  margin-right: 10px;
}

.buy-text {
  display: flex;
  align-items: center;
  font-size: 32px;
}

.buy-text > img {
  height: 30px;
  margin-left: 10px;
}

.main-bord__block-right {
  height: 100%;
}

.market-bord-item {
  display: flex;
  width: 360px;
  height: 100px;
}

.img {
  /*background: #c4c4c4;*/
  width: 20%;
}

.market-bord-item-info {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.market-bord-item-info > span {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-left: 5px;
}

.market-bord-item-info-bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.market-bord-item-info-bottom > span {
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  margin-left: 5px;
}

.market-bord-item-info-bottom > button {
  width: 127px;
  height: 37px;
  background: #c4c4c4;
  border: none;
  border-radius: 8px;
}

.market-bord {
  margin-top: 30px;
}
