@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  margin: 15px;
}

.cb {
  border: 1px solid red;
}

.header__block {
  height: 80px;
  box-shadow: 0 1px 0 rgba(204, 204, 204, 0.25);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__block-left {
  display: flex;
  align-items: center;
}

.header__block-left > img {
  width: 35px;
  height: 41px;
}

.header__block-left > span {
  margin-left: 10px;
  width: 236px;
  height: 39px;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
}

.header__block-right {
  height: 24px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.main-bord {
  display: flex;
  justify-content: space-between;
}

.main-bord__block-left {
  width: 69%;
}

.main-bord__block-left__block {
  display: flex;
  align-items: center;
}

.main-bord__block-left-sort {
  display: flex;
  align-items: center;
}

.main-bord__block-left-sort > button {
  border: none;
  outline: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.main-bord__block-left-sort > img {
  width: 20px;
}

.main-bord__block-left__block > select {
  margin-left: 20px;
  border: none;
  outline: none;
  min-width: 100px;
  max-width: 180px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

/*.main-bord__block-left__block > select:focus {*/
/*  width: auto;*/
/*}*/
.main-bord__block-right {
  width: 30%;
}
