@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  margin: 10px 24px;
}

header {
  margin-bottom: 60px;
}

.cb {
  border: 1px solid red;
}

.header__block {
  height: 80px;
  box-shadow: 0 1px 0 rgba(204, 204, 204, 0.25);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__block-left {
  display: flex;
  align-items: center;
}

.header__block-left > img {
  width: 35px;
  height: 41px;
}

.header__block-left > span {
  margin-left: 10px;
  width: 236px;
  height: 39px;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
}

.header__block-right {
  height: 24px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.main-bord {
  display: flex;
  justify-content: space-between;
}

.main-bord__block-left {
  width: 69%;
}

.main-bord__block-left__block {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.main-bord__block-left-sort {
  display: flex;
  align-items: center;
}

.main-bord__block-left-sort > button {
  border: none;
  outline: none;
  font-weight: 400;
  font-size: 20px;
  line-height: 19px;
}

.main-bord__block-left-sort > img {
  width: 20px;
}

.main-bord__block-left__block > select {
  margin-left: 20px;
  border: none;
  outline: none;
  min-width: 104px;
  max-width: 250px;
  font-weight: 400;
  font-size: 18px;
  line-height: 19px;
}

.main-bord__block-right {
  width: 30%;
  height: 1000px;
}

.search-block {
  display: flex;
  height: 50px;
}

.search-block > input {
  width: 30%;
  font-weight: 400;
  font-size: 18px;
  line-height: 17px;
  margin: 7px 0 8px 0;
  padding: 0 10px;
  border: none;
}

.search-block > img {
  width: 50px;
  margin-right: 10px;
}

.buy-text {
  display: flex;
  align-items: center;
  font-size: 32px;
  margin-bottom: 20px;
}

.buy-text > img {
  height: 50px;
  margin-left: 10px;
}

.main-bord__block-right {
  height: 100%;
  /*position: fixed;*/
  right: 0;
}

.market-bord-item {
  border-radius: 10px;
  background: #80808038;
  display: flex;
  width: 45%;
  height: 225px;
  margin: 20px;
}

.img {
  /*background: #c4c4c4;*/
  width: 40%;
  border-radius: 10px;
}

.market-bord-item-info {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.market-bord-item-info > span {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  margin-left: 5px;
  position: relative;
  top: 10%;
}

.market-bord-item-info-bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  /* bottom: 34%; */
  height: 50%;
}

.market-bord-item-info-bottom > span {
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  margin-left: 5px;
  position: absolute;
  top: 0%;
}

.market-bord-item-info-bottom > button {
  width: 130px;
  height: 46px;
  background: #c4c4c4;
  border: none;
  border-radius: 8px;
  position: absolute;
  font-size: 18px;
  font-weight: 600;
  top: 50px;
  right: 20px;
}

.market-bord {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-top: 10px double #af6e66;
  border-bottom: 10px double #af6e66;
}

.basket {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  width: 100%;
}

.basket > .name {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 0;
}

.basket > .value {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 10px;
}

.basket > .price {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.basket > button {
  border: none;
}

.basket > button > img {
  width: 30px;
}

.noBook {
  position: absolute;
  top: 61%;
  right: 9%;
}

.buy {
  display: flex;
  flex-direction: column;
  align-items: center;
  visibility: hidden;
}

.butBuy {
  width: 127px;
  height: 37px;
  background: #c4c4c4;
  border: none;
  border-radius: 8px;
  margin-top: 10px;
}

.market-bord-item-right {
  border-radius: 10px;
  display: flex;
  width: 90%;
  height: 130px;
  margin: 20px;
}

.counter {
  display: flex;
  margin-top: 5%;
  justify-content: space-around;
}

.bute {
  margin-right: 30%;
}

.bute > button {
  width: 40px;
  height: 25px;
  background: #c4c4c4;
  border: none;
  border-radius: 8px;
}

.market-bord-item-info > span.price_cart {
  top: -5%;
}
